{% extends 'base.html'%}
{% load staticfiles %}

{% block head %}
<meta charset="utf-8">
<title>Polls App</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block content %}

<!--Head section of body page-->

<div class="container">
    <div class="body-padding">
    <div class="col-md-8 offset-2 text-center">
      <h2 class="heading-service">Hello world</h2>
      <p class="subheading"> We are here at Polls App page.</p>
      <a href="https://www.nescode.com/" class="btn btn-light">Read More</a>
    </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>Polls App</h3>
            <p class="">This polls App is based on the vote. It has a choice options where public can chose and select the vote to whom they want to give. It is based on django and python framework software. In Django, web pages and other content are delivered by views. Each view is represented by a simple Python function (or method, in the case of class-based views). Django will choose a view by examining the URL that’s requested (to be precise, the part of the URL after the domain name).</p> 
            <a href="https://www.nescode.com/" class="btn btn-light btn-center">Read More</a> 
        </div>
        <div class="col-md-4">
            <!-- <img src="{% static 'img/vote.png' %}" width="300" height="250"> -->
            <img src="{% static 'img/voting.jpg' %}" width="300" height="250">
        </div>
    </div>
</div>
{% endblock %}